<li
  class="breadcrumbs__item"
  itemprop="itemListElement"
  itemtype="https://schema.org/ListItem"
>
  <a
    href="{{ url }}"
    class="breadcrumbs__link {{ classes }}"
    itemprop="item"
    {{ extra }}
  >
    <span itemprop="name">{{ item }}</span>
  </a>
  <meta itemprop="position" content="{{ position }}">
</li>