<section id="section-{{ section.id }}" class="Section" data-section-id="{{ section.id }}">
        {% for block in section.blocks %}
                {% case block.type %}
                {% when '1_links_row' %}
                <div class="one-image-wrapper block-{{block.id}} space-{% if block.settings.space_between %}true{% else %}false{% endif %} {% if block.settings.hide_desktop %} hidden-tablet-and-up {% endif %}{% if block.settings.hide_mobile %} hidden-phone {% endif %}">
                  {% if block.settings.mobile_image_1 %}
                    <div class="image-one hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset=" {{ block.settings.mobile_image_1 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_1_title }}</h2>
                          <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                      </div>
                    </div>
                  {% endif %}
                  <div class="image-one {% if block.settings.mobile_image_1 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset=" {{ block.settings.image_1 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_1_title }}</h2>
                          <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                      </div>
                  </div>
                </div>
                {% when '2_links_row' %}
                <div class="two-image-wrapper block-{{block.id}} space-{% if block.settings.space_between %}true{% else %}false{% endif %} {% if block.settings.hide_desktop %} hidden-tablet-and-up {% endif %}{% if block.settings.hide_mobile %} hidden-phone {% endif %}">
                    {% if block.settings.mobile_image_1 %}
                    <div class="image-one  hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_1 | img_url: 'master' }} "></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_1_title }}</h2>
                          <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                      </div>
                    </div>
                    {% endif %}
                    <div class="image-one {% if block.settings.mobile_image_1 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_1 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                            <h2>{{ block.settings.collection_1_title }}</h2>
                            <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                        </div>
                    </div>
                    {% if block.settings.mobile_image_2 %}
                    <div class="image-two hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_2 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_2_title }}</h2>
                          <a href="{{ block.settings.collection_2_button_link | default: '#' }}">{{ block.settings.collection_2_button_text }}</a>
                      </div>
                    </div>
                    {% endif %}
                    <div class="image-two {% if block.settings.mobile_image_2 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_2 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_2_title }}</h2>
                          <a href="{{ block.settings.collection_2_button_link | default: '#' }}">{{ block.settings.collection_2_button_text }}</a>
                      </div>
                    </div>
                </div>
                {% when '3_links_row' %}
                <div class="three-image-wrapper  block-{{block.id}} space-{% if block.settings.space_between %}true{% else %}false{% endif %} {% if block.settings.hide_desktop %} hidden-tablet-and-up {% endif %}{% if block.settings.hide_mobile %} hidden-phone {% endif %}">
                    {% if block.settings.mobile_image_1 %}
                    <div class="image-one  hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_1 | img_url: 'master' }} "></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_1_title }}</h2>
                          <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                      </div>
                    </div>
                    {% endif %}
                    <div class="image-one {% if block.settings.mobile_image_1 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_1 | img_url: 'master' }}">
                            </div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                            <h2>{{ block.settings.collection_1_title }}</h2>
                            <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                        </div>
                    </div>
                    {% if block.settings.mobile_image_2 %}
                    <div class="image-two hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_2 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_2_title }}</h2>
                          <a href="{{ block.settings.collection_2_button_link | default: '#' }}">{{ block.settings.collection_2_button_text }}</a>
                      </div>
                    </div>
                    {% endif %}
                    <div class="image-two {% if block.settings.mobile_image_2 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_2 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_2_title }}</h2>
                          <a href="{{ block.settings.collection_2_button_link | default: '#' }}">{{ block.settings.collection_2_button_text }}</a>
                      </div>
                    </div>
                    {% if block.settings.mobile_image_3 %}
                    <div class="image-three hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_3 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_3_title }}</h2>
                          <a href="{{ block.settings.collection_3_button_link | default: '#' }}">{{ block.settings.collection_3_button_text }}</a>
                      </div>
                    </div>
                    {% endif %}
                    <div class="image-three {% if block.settings.mobile_image_3 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                      <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_3 | img_url: 'master' }}"></div>
                      <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_3_title }}</h2>
                          <a href="{{ block.settings.collection_3_button_link | default: '#' }}">{{ block.settings.collection_3_button_text }}</a>
                      </div>
                    </div>
                </div>
                {% when '4_links_row' %}
                <div class="four-image-wrapper  block-{{block.id}} space-{% if block.settings.space_between %}true{% else %}false{% endif %} {% if block.settings.hide_desktop %} hidden-tablet-and-up {% endif %}{% if block.settings.hide_mobile %} hidden-phone {% endif %}" >
                      {% if block.settings.mobile_image_1 %}
                      <div class="image-one hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_1 | img_url: 'master' }} "></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                          <h2>{{ block.settings.collection_1_title }}</h2>
                          <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                        </div>
                      </div>
                      {% endif %}
                      <div class="image-one  {% if block.settings.mobile_image_1 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                          <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_1 | img_url: 'master' }}"></div>
                          <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                              <h2>{{ block.settings.collection_1_title }}</h2>
                              <a href="{{ block.settings.collection_1_button_link | default: '#' }}">{{ block.settings.collection_1_button_text }}</a>
                          </div>
                      </div>
                      {% if block.settings.mobile_image_2 %}
                      <div class="image-two hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_2 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                              <h2>{{ block.settings.collection_2_title }}</h2>
                              <a href="{{ block.settings.collection_2_button_link | default: '#' }}">{{ block.settings.collection_2_button_text }}</a>
                          </div>
                      </div>
                      {% endif %}
                      <div class="image-two {% if block.settings.mobile_image_2 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_2 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                              <h2>{{ block.settings.collection_2_title }}</h2>
                              <a href="{{ block.settings.collection_2_button_link | default: '#' }}">{{ block.settings.collection_2_button_text }}</a>
                          </div>
                      </div>
                      {% if block.settings.mobile_image_3 %}
                      <div class="image-three hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_3 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                              <h2>{{ block.settings.collection_3_title }}</h2>
                              <a href="{{ block.settings.collection_3_button_link | default: '#' }}">{{ block.settings.collection_3_button_text }}</a>
                          </div>
                      </div>
                      {% endif %}
                      <div class="image-three {% if block.settings.mobile_image_3 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_3 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                              <h2>{{ block.settings.collection_3_title }}</h2>
                              <a href="{{ block.settings.collection_3_button_link | default: '#' }}">{{ block.settings.collection_3_button_text }}</a>
                          </div>
                      </div>
                      {% if block.settings.mobile_image_4 %}
                      <div class="image-four hidden-tablet-and-up Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.mobile_image_4 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                            <h2>{{ block.settings.collection_4_title }}</h2>
                            <a href="{{ block.settings.collection_4_button_link | default: '#' }}">{{ block.settings.collection_4_button_text }}</a>
                        </div>
                      </div>
                      {% endif %}
                      <div class="image-four {% if block.settings.mobile_image_4 %} hidden-phone {% endif %} Collection-image-{{ block.settings.image_size }}">
                        <div class="image-wrapper Image--lazyLoad" data-bgset="{{ block.settings.image_4 | img_url: 'master' }}"></div>
                        <div class="content-wrapper {% if block.settings.apply_overlay %}Image--contrast{% endif %}">
                            <h2>{{ block.settings.collection_4_title }}</h2>
                            <a href="{{ block.settings.collection_4_button_link | default: '#' }}">{{ block.settings.collection_4_button_text }}</a>
                        </div>
                      </div>
                </div>
                {% when 'spacer' %}
                <div class="spacer"></div>
                {% endcase %}
      {% endfor %}   
</section>
  
<style>	

  #section-{{ section.id }}{
      padding-left: {{section.settings.section_padding_left | append: "px"}};
      padding-right: {{section.settings.section_padding_right | append: "px"}};
      margin-top: {{ section.settings.section_margin_top_mobile | append: "px" }};
      margin-bottom: {{ section.settings.section_margin_bottom_mobile | append: "px" }};
    }
    {% for block in section.blocks %}
        #section-{{ section.id }} .block-{{block.id}}{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #section-{{ section.id }}  .block-{{block.id}} .Image--contrast::after {
          {%- assign background_opacity = block.settings.overlay_opacity | divided_by: 100.0 -%}
          background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%) 0% 0% no-repeat;
        }
        #section-{{ section.id }} .block-{{block.id}}.space-true{
            padding: 0 10px;
        }
        #section-{{ section.id }} .block-{{block.id}}.space-true > div:not(.image-one ){
            margin-left: 10px;
        }
        #section-{{ section.id }} .block-{{block.id}} > div {
            position: relative;
        }
        #section-{{ section.id }} .block-{{block.id}} > div picture {
            display: block !important;
              min-height: 100px;
        }
        
        #section-{{ section.id }} .block-{{block.id}} > div .image-wrapper {
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: unset !important;
      }
      #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper {
        position: absolute;
        display: flex;
        padding: 30px;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
      }
      #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper h2 {
          color: #fff;
          font-size: 36px;
          margin: 0;
          font-family: "ITCClearface";
          line-height: 45px;
          font-weight: 700;
          margin-bottom: -8px;
      }
      #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper a {
          display: inline-block;
          color: #333333;
          background: #ffffff;
          padding: 11px 25px;
          font-size: 13px;
          line-height: 17px;
          font-weight: 500;
          border-radius: 80px;
          margin-left: 10px;
          min-width: 111px;
      }
{% comment %}       #section-{{ section.id }} .block-{{block.id}} > div.Collection-image-small {
          height: 450px;
      }
      #section-{{ section.id }} .block-{{block.id}} > div.Collection-image-normal {
          height: 500px;
      }
      #section-{{ section.id }} .block-{{block.id}} > div.Collection-image-large {
          height: 550px;
      } {% endcomment %}
        #section-{{ section.id }} .one-image-wrapper.block-{{block.id}} > div {
            width: 100%;
        }
        #section-{{ section.id }} .two-image-wrapper.block-{{block.id}} > div {
            width: 50%;
        }
        #section-{{ section.id }} .three-image-wrapper.block-{{block.id}} > div {
            width: 33.3334%;
        }
        #section-{{ section.id }} .four-image-wrapper.block-{{block.id}} > div {
            width: 25%;
        }
        #section-{{ section.id }} .spacer {
            height: {{block.settings.space_height | append: "px"}};
        }
/*         @media screen and (min-width: 1140px) {
          #section-{{ section.id }} .block-{{block.id}} > div.Collection-image-small {
              height: 500px;
          }
          #section-{{ section.id }} .block-{{block.id}} > div.Collection-image-normal {
              height: 600px;
          }
          #section-{{ section.id }} .block-{{block.id}} > div.Collection-image-large {
              height: 700px;
          }
        } */
        @media screen and (min-width: 641px) and (max-width: 1139px) {
            #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper {
              flex-direction: column;
              padding: 20px;
              align-items: center;
              text-align: center;
            }
            #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper h2 {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 14px;
            }
            #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper a {
                margin-left: 0px;
            }
        }
        @media screen and (max-width: 640px) {
          #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper {
              padding: 20px;
            }
          #section-{{ section.id }} .block-{{block.id}} > div .content-wrapper h2 {
                font-size: 30px;
                line-height: 37.5px;
            }
          {% if block.settings.items_full_width_mobile %}
               #section-{{ section.id }} .block-{{block.id}}  {
                  flex-direction: column;
              }
               #section-{{ section.id }} .block-{{block.id}} > div {
                  width: 100% !important;
              }
              #section-{{ section.id }} .block-{{block.id}}.space-true > div:not(.image-one ) {
                  margin-left: 0;
                  margin-top: 10px;
              } 
          {% endif %}
          
        }
    {% endfor %}


  @media screen and (min-width: 641px){
    #section-{{ section.id }} {
      margin-top: {{ section.settings.section_margin_top | append: "px" }};
      margin-bottom: {{ section.settings.section_margin_bottom | append: "px" }};
    }
  }
  

</style> 
  
  {% schema %}
  {
    "name": "Collection list new",
    "settings": [
      {
        "type": "range",
        "id": "section_padding_left",
        "label": "Section padding left",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_right",
        "label": "Section padding right",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
      "type": "range",
      "id": "section_margin_top",
      "label": "Section margin top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_margin_bottom",
      "label": "Section margin Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_margin_top_mobile",
      "label": "Section margin top in mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_margin_bottom_mobile",
      "label": "Section margin bottom in mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
    }
    ],

    "blocks": [
          {
           "type": "1_links_row",
            "name": "Per row links - 1",
              "settings":[
                  {
                      "type": "image_picker",
                      "id": "image_1",
                      "label": "Choose Collection Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_1",
                      "label": "Choose Collection Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_1_title",
                        "label": "Collection Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_1_button_text",
                    "label": "Collection button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_1_button_link",
                        "label": "Collection button link"
                  },
                  {
                      "type": "header",
                      "content": "Collection images & content style"
                  },
                  {
                    "type": "select",
                    "id": "image_size",
                    "label": "Collection Images size",
                    "options": [
                      {
                        "value": "small",
                        "label": "Small"
                      },
                      {
                        "value": "normal",
                        "label": "Normal"
                      },
                      {
                        "value": "large",
                        "label": "Large"
                      }
                    ],
                    "default": "normal"
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_desktop",
                    "label": "Hide in desktop",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_mobile",
                    "label": "Hide in mobile",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "items_full_width_mobile",
                    "label": "Images full width in mobile",
                    "default": true
                  },
                  {
                    "type": "checkbox",
                    "id": "space_between",
                    "label": "Add padding to images",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "apply_overlay",
                    "label": "Apply overlay on image",
                    "info": "This can improve text visibility.",
                    "default": true
                  },
                  {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Desktop overly color",
                    "default": "#000000"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "label": "Desktop overlay opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 30
                  }
              ]
          },
          {
           "type": "2_links_row",
            "name": "Per row links - 2",
              "settings":[
                  {
                      "type": "image_picker",
                      "id": "image_1",
                      "label": "Choose Collection 1 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_1",
                      "label": "Choose Collection 1 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_1_title",
                        "label": "Collection 1 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_1_button_text",
                    "label": "Collection 1 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_1_button_link",
                        "label": "Collection 1 button link"
                  },
                  {
                      "type": "image_picker",
                      "id": "image_2",
                      "label": "Choose Collection 2 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_2",
                      "label": "Choose Collection 2 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_2_title",
                        "label": "Collection 2 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_2_button_text",
                    "label": "Collection 2 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_2_button_link",
                        "label": "Collection 2 button link"
                  },
                  {
                      "type": "header",
                      "content": "Collection images & content style"
                  },
                  {
                    "type": "select",
                    "id": "image_size",
                    "label": "Collection Images size",
                    "options": [
                      {
                        "value": "small",
                        "label": "Small"
                      },
                      {
                        "value": "normal",
                        "label": "Normal"
                      },
                      {
                        "value": "large",
                        "label": "Large"
                      }
                    ],
                    "default": "normal"
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_desktop",
                    "label": "Hide in desktop",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_mobile",
                    "label": "Hide in mobile",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "items_full_width_mobile",
                    "label": "Images full width in mobile",
                    "default": true
                  },
                  {
                    "type": "checkbox",
                    "id": "space_between",
                    "label": "Add padding to images",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "apply_overlay",
                    "label": "Apply overlay on image",
                    "info": "This can improve text visibility.",
                    "default": true
                  },
                  {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Desktop overly color",
                    "default": "#000000"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "label": "Desktop overlay opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 30
                  }
              ]
          },
          {
           "type": "3_links_row",
            "name": "Per row links - 3",
              "settings":[
                  {
                      "type": "image_picker",
                      "id": "image_1",
                      "label": "Choose Collection 1 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_1",
                      "label": "Choose Collection 1 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_1_title",
                        "label": "Collection 1 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_1_button_text",
                    "label": "Collection 1 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_1_button_link",
                        "label": "Collection 1 button link"
                  },
                  {
                      "type": "image_picker",
                      "id": "image_2",
                      "label": "Choose Collection 2 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_2",
                      "label": "Choose Collection 2 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_2_title",
                        "label": "Collection 2 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_2_button_text",
                    "label": "Collection 2 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_2_button_link",
                        "label": "Collection 2 button link"
                  },
                  {
                      "type": "image_picker",
                      "id": "image_3",
                      "label": "Choose Collection 3 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_3",
                      "label": "Choose Collection 3 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_3_title",
                        "label": "Collection 3 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_3_button_text",
                    "label": "Collection 3 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_3_button_link",
                        "label": "Collection 3 button link"
                  },
                  {
                      "type": "header",
                      "content": "Collection images & content style"
                  },
                  {
                    "type": "select",
                    "id": "image_size",
                    "label": "Collection Images size",
                    "options": [
                      {
                        "value": "small",
                        "label": "Small"
                      },
                      {
                        "value": "normal",
                        "label": "Normal"
                      },
                      {
                        "value": "large",
                        "label": "Large"
                      }
                    ],
                    "default": "normal"
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_desktop",
                    "label": "Hide in desktop",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_mobile",
                    "label": "Hide in mobile",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "items_full_width_mobile",
                    "label": "Images full width in mobile",
                    "default": true
                  },
                  {
                    "type": "checkbox",
                    "id": "space_between",
                    "label": "Add padding to images",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "apply_overlay",
                    "label": "Apply overlay on image",
                    "info": "This can improve text visibility.",
                    "default": true
                  },
                  {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Desktop overly color",
                    "default": "#000000"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "label": "Desktop overlay opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 30
                  }
              ]
          },
          {
           "type": "4_links_row",
            "name": "Per row links - 4",
              "settings":[
                  {
                      "type": "image_picker",
                      "id": "image_1",
                      "label": "Choose Collection 1 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_1",
                      "label": "Choose Collection 1 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_1_title",
                        "label": "Collection 1 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_1_button_text",
                    "label": "Collection 1 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_1_button_link",
                        "label": "Collection 1 button link"
                  },
                  {
                      "type": "image_picker",
                      "id": "image_2",
                      "label": "Choose Collection 2 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_2",
                      "label": "Choose Collection 2 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_2_title",
                        "label": "Collection 2 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_2_button_text",
                    "label": "Collection 2 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_2_button_link",
                        "label": "Collection 2 button link"
                  },
                  {
                      "type": "image_picker",
                      "id": "image_3",
                      "label": "Choose Collection 3 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_3",
                      "label": "Choose Collection 3 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_3_title",
                        "label": "Collection 3 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_3_button_text",
                    "label": "Collection 3 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_3_button_link",
                        "label": "Collection 3 button link"
                  },
                  {
                      "type": "image_picker",
                      "id": "image_4",
                      "label": "Choose Collection 4 Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "mobile_image_4",
                      "label": "Choose Collection 4 Image for Mobile"
                  },
                  {
                        "type": "text",
                        "id":  "collection_4_title",
                        "label": "Collection 4 Title",
                        "default": "Collection Title"
                  },
                  {
                    "type": "text",
                    "id": "collection_4_button_text",
                    "label": "Collection 4 button text",
                    "default": "Shop Now"
                  },
                  {
                        "type": "url",
                        "id":  "collection_4_button_link",
                        "label": "Collection 4 button link"
                  },
                  {
                      "type": "header",
                      "content": "Collection images & content style"
                  },
                  {
                    "type": "select",
                    "id": "image_size",
                    "label": "Collection Images size",
                    "options": [
                      {
                        "value": "small",
                        "label": "Small"
                      },
                      {
                        "value": "normal",
                        "label": "Normal"
                      },
                      {
                        "value": "large",
                        "label": "Large"
                      }
                    ],
                    "default": "normal"
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_desktop",
                    "label": "Hide in desktop",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "hide_mobile",
                    "label": "Hide in mobile",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "items_full_width_mobile",
                    "label": "Images full width in mobile",
                    "default": true
                  },
                  {
                    "type": "checkbox",
                    "id": "space_between",
                    "label": "Add padding to images",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "apply_overlay",
                    "label": "Apply overlay on image",
                    "info": "This can improve text visibility.",
                    "default": true
                  },
                  {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Desktop overly color",
                    "default": "#000000"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "label": "Desktop overlay opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 30
                  }
              ]
          },
          {
           "type": "spacer",
            "name": "Spacer",
              "settings":[
                {
                    "type": "range",
                    "id": "space_height",
                    "label": "Space Height",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 30
                }
              ]
          }
      ],
      "presets":[
           {
             "category": "Content",
             "name": "Collection list new"
           }
      ]
  } 
  {% endschema %}
  
  