<section id="section-{{ section.id }}" class="Section section-width-{{ section.settings.section_width }}" data-section-id="{{ section.id }}">
        {% for block in section.blocks %}
            <div class="block-{{block.id}}">
                {% case block.type %}
                {% when 'text_image_block' %}
                <div class="double-image-text-wrapper block-{{block.id}}-width-{{ block.settings.block_width }}">
                  <div class="left-part">
                    <img src="{{ block.settings.image_1 | img_url: 'master' }}">
                  </div>
                  <div class="right-part">
                    {{ block.settings.description }}
                  </div>
                </div>
                {% when 'spacer' %}
                <div class="spacer"></div>
                {% endcase %}
            </div>
      {% endfor %}   
</section>
  
<style>	
  #section-{{ section.id }}{
      padding-left: {{section.settings.section_padding_left | append: "px"}};
      padding-right: {{section.settings.section_padding_right | append: "px"}};
    }

    {% for block in section.blocks %}

          .block-{{block.id}}-width-small{
           max-width: 600px;
           margin: 0 auto;
         }
         .block-{{block.id}}-width-medium{
           max-width: 987px;
           margin: 0 auto;
         }
        .block-{{block.id}}-width-full{
           max-width: 100%;
         }
         .block-{{block.id}}-width-custom{
           max-width: 100%;
            padding: 0 10px
         }
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} {
            display: flex;
        }
        
      
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div {
            padding: 10px;
        }
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div.left-part {
            width: {{block.settings.image_part_width | append: "%"}};
            padding-left: 0px;
        }
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div.right-part {
            width: calc( 100% - {{block.settings.image_part_width | append: "%"}} );
            padding-right: 0px;
        }

        #section-{{ section.id }}  .block-{{block.id}}-width-full > div.right-part{
           padding-right: 10px;
         }
      
        {% if block.settings.image_right %}
          #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} {
            flex-direction: row-reverse;
          }
          #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div.left-part {
              padding-left: 10px;
              padding-right: 0px;
          }
          #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div.right-part {
            padding-right: 10px;
            padding-left: 0px;
          }
          #section-{{ section.id }}  .block-{{block.id}}-width-full > div.right-part{
           padding-left: 10px;
         }
          #section-{{ section.id }}  .block-{{block.id}}-width-full > div.left-part{
           padding-right: 0px;
         }
  
        {% endif %}
        #section-{{ section.id }} .block-{{block.id}} p {
            font-size: {{block.settings.font_size | append: "px"}};
            line-height: {{block.settings.text_line_height | append: "px"}};
            font-family: "{{ block.settings.font_family }}";
            font-weight: {{ block.settings.font_weight }};
            color: {{ block.settings.text_color }};
            text-align: {{ block.settings.text_alignment }};
        }
        #section-{{ section.id }} .block-{{block.id}} p a {
            text-decoration: underline;
        }
        #section-{{ section.id }} .block-{{block.id}} .spacer {
            height: {{block.settings.space_height | append: "px"}};
          
        }
        @media screen and (max-width: 1007px) {
         #section-{{ section.id }}  .block-{{block.id}}-width-medium{
           padding: 0 10px;
         }
        }
      
      @media screen and (max-width: 640px) {
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} {
                flex-direction: column;
        }
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div {
            padding: 0 !important;
        }
        #section-{{ section.id }} .block-{{block.id}}-width-full > div.right-part {
            padding: 0 10px !important;
        }
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div.left-part {
            width: 100%;
        }
        #section-{{ section.id }} .block-{{block.id}}-width-{{ block.settings.block_width }} > div.right-part {
            width: 100%;
            margin-top: 20px;
        }
        #section-{{ section.id }} .block-{{block.id}} p {
            font-size: {{block.settings.font_size_mobile | append: "px"}};
            line-height: {{block.settings.text_line_height_mobile | append: "px"}};
            text-align: {{ block.settings.text_alignment_mobile }};
        }
      }
      @media screen and (max-width: 620px) {
          #section-{{ section.id }}  .block-{{block.id}}-width-small{
           padding: 0 10px;
         }
        }
    {% endfor %}

  

</style> 
  
  {% schema %}
  {
    "name": "Text with image style 1",
    "settings": [
      {
        "type": "range",
        "id": "section_padding_left",
        "label": "Section padding left",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_right",
        "label": "Section padding right",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      }
    ],

    "blocks": [
          {
           "type": "text_image_block",
            "name": "Text image block",
              "settings":[
                  {
                      "type": "image_picker",
                      "id": "image_1",
                      "label": "Choose Image"
                  },
                  {
                      "type": "richtext",
                      "id":  "description",
                      "label": "Add description"
                  },
                  {
                    "type": "checkbox",
                    "id": "image_right",
                    "label": "Image right",
                    "default": false
                  },
                  {  
                    "type": "range",
                    "id": "image_part_width",
                    "label": "Image part width",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 50
                  },
                  {
                    "type": "range",
                    "id": "font_size",
                    "label": "Description font size",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 16
                  },
                   {
                    "type": "range",
                    "id": "font_size_mobile",
                    "label": "Font size for mobile",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 16
                  },
                  {
                    "type": "range",
                    "id": "text_line_height",
                    "label": "Text line height",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 22
                  },
                  {
                    "type": "range",
                    "id": "text_line_height_mobile",
                    "label": "Text line height for mobile",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 22
                  },
                  {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text colour",
                    "default": "#333333"
                  },
                  {
                  "type": "select",
                  "id": "font_family",
                  "label": "Font family",
                  "options": [
                  {
                    "value": "Maison Neue",
                    "label": "Maison Neue"
                  },
                  {
                    "value": "ITCClearface",
                    "label": "ITCClearface"
                  }
                ],
                "default": "Maison Neue"
                },
                  {
                  "type": "select",
                  "id": "font_weight",
                  "label": "Font weight",
                  "options": [
                  {
                    "value": "normal",
                    "label": "Normal"
                  },
                  {
                    "value": "bold",
                    "label": "Bold"
                  }
                ],
                "default": "normal"
                },
                {
                  "type": "select",
                  "id": "text_alignment",
                  "label": "Text alignment",
                  "options": [
                  {
                    "value": "left",
                    "label": "Left"
                  },
                  {
                    "value": "center",
                    "label": "Center"
                  },
                  {
                    "value": "right",
                    "label": "Right"
                  }
                ],
                "default": "left"
                },
                {
                  "type": "select",
                  "id": "text_alignment_mobile",
                  "label": "Text alignment for mobile",
                  "options": [
                  {
                    "value": "left",
                    "label": "Left"
                  },
                  {
                    "value": "center",
                    "label": "Center"
                  },
                  {
                    "value": "right",
                    "label": "Right"
                  }
                ],
                "default": "left"
                },
                   {
                  "type": "select",
                  "id": "block_width",
                  "label": "Block width",
                  "options": [
                  {
                    "value": "small",
                    "label": "Narrow Width"
                  },
                  {
                    "value": "medium",
                    "label": "Wide Width"
                  },
                  {
                    "value": "full",
                    "label": "Full Width"
                  },
                  {
                    "value": "custom",
                    "label": "Full Width with 10px padding"
                  }
                ],
                "default": "medium"
                }
              ]
          },
          {
           "type": "spacer",
            "name": "Spacer",
              "settings":[
                {
                    "type": "range",
                    "id": "space_height",
                    "label": "Space Height",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 30
                }
              ]
          }
      ],
      "presets":[
           {
             "category": "Content",
             "name": "Text with image style 1"
           }
      ]
  } 
  {% endschema %}
  
  